@import 'src/styles';

.cardContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-black;
  width: 17%;
  height: 450px;
  margin: 70px 0 50px 40px;
  
  .cardText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
  }

  .redText {
    color: $color-red;
  }
}
