@import 'src/styles';

.header {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: $color-red;

  .headerLogo {
    max-width: 200px;
    max-height: 60px;
  }

  .headerBottoms {
    min-width: 30%;

    .headerBottomsList {
      display: flex;
      justify-content: space-around;
      list-style-type: none;

      .orangeTextDecorationNone {
        color: $color-orange-light;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
      .orangeTextDecoration {
        color: $color-orange-light;
        text-decoration: underline;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }

  .headerIcons {
    min-width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $color-white;
  }
}
