@import 'src/styles';

.mainCardsContainer {
  display: flex;
  flex: 1 0 auto;

  .mainCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}
