@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('src/assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('src/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('src/assets/fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: lighter;
}
