$color-orange-light: #f3b13f;
$color-red: #c11718;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #616161;
$color-dark-red: #c6515c;
$color-light-black: #0b0718;
$color-dark-grey: #282828;
