.maxHeight {
  display: flex;
  flex-direction: column;
  height: 80%;

  .children {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
}
