@import 'src/styles';

.maxHeight {
  display: flex;
  flex-direction: column;
  height: 100%;

  .children {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.dark {
  color: $color-grey;
  background-color: $color-black;
}

.light {
  background-color: $color-white;
}
