@import 'src/styles';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-red;

  .headerLogo {
    max-width: 10%;
    max-height: 60%;
  }
  .headerBottoms {
    min-width: 25%;

    .headerBottomsList {
      display: flex;
      justify-content: space-around;
      list-style-type: none;

      .orangeText {
        color: $color-orange-light;

        &:hover :focus {
          border-bottom: 1px solid $color-orange-light;
        }
      }
    }
  }
}
