/* Обычный */
@font-face {
	font-family: 'Inter'; 
	src: local('Inter'), url('../fonts/Inter-Regular.ttf') format('truetype'); 
	font-style: normal;
	font-weight: normal;
}
 
/* Жирный */
@font-face {
	font-family: 'Inter'; 
	src: local('Inter'), url('../fonts/Inter-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}

:root {
	--color-white: #ffffff;
	--color-violet: #6C5CE7;
	--color-light-violet: #A29BFE;
	--color-black: #2D3436;
}

html{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: var(--color-black);
}

* {
    margin: 0;
    padding: 0;
}

/* 96px */
h1{
    font-size: 5.5rem;
    letter-spacing: -3px;
}

/* 77px */
h2{
    font-size: 4.2rem;
}
