@import url(/styles/layout.css);
@import url(/styles/index.css);

/* Обычный */
@font-face {
	font-family: 'Inter'; 
	src: local('Inter normal'), url(/fonts/Inter-Regular.otf); 
}
 
/* Жирный */
@font-face {
	font-family: 'Inter bold'; 
	src: local('Inter bold'), url(/fonts/Inter-ExtraBold.otf); 
}

