@import url(/styles/layout.css);
@import url(/styles/index.css);

/* Обычный */
@font-face {
	font-family: 'Inter'; 
	src: local('Inter'), url('../fonts/Inter-Regular.ttf') format('truetype'); 
	font-style: normal;
	font-weight: normal;
}
 
/* Жирный */
@font-face {
	font-family: 'Inter'; 
	src: local('Inter'), url('../fonts/Inter-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}

:root {
	--color-white: #ffffff;
	--color-violet: #6C5CE7;
	--color-orange: #FDCB6E;
	--color-pink: #E84393;
	--color-light-violet: #A29BFE;
	--color-green: #00B894;
	--color-light-green: #55EFC4;
	--color-blue: #0984E3;
	--color-light-blue: #158BFF;
	--color-yellow: #FFEAA7;
	--color-light-red: #FF7675;
	--color-gray-1:  rgba(38, 50, 56, 0.08);
	--color-gray-2: rgba(38, 50, 56, 0.16);
	--color-gray-3: #ADADAD;
	--color-black: #2D3436;
	--color-textfield: rgba(194, 194, 194, 0.25);
}
