@import 'src/styles';

.main {
  display: flex;
  justify-content: space-around;
  flex: 1 0 auto;

  .mainCards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px 0 100px 0;
  }
}
