@import 'src/styles';

.main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-around;

  .mainCards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
